* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

@font-face {
    font-family: fuente_titulo;
    src: url(fuente.ttf);
}

#titulo {
    font-family: fuente_titulo;
    color: rgb(255, 255, 255);
    font-size: 80px;
}

#btn_empezar {
    width: 180px;
    height: 70px;
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    margin-top: 220px;
    margin-left: 40%;
}

#nombre_usuario {
    width: 100%;
    height: 70px;
    font-size: 40px;
}

#nombre_usuario,
#select_nivel {
    width: 100%;
    height: 70px;
    font-size: 40px;
}

#select_nivel {
    cursor: pointer;
}

#btn_guardar_nombre {
    width: 100%;
    height: 70px;
    font-size: 25px;
    font-weight: bolder;
}

#row_nombre {
    margin-top: 200px;
    margin-bottom: 150px;
    height: 50%;
    width: 80%;
    margin-left: 10%;
}

#menu_niveles {
    margin: 0 auto;
    margin-top: 100px;
}

#btn_test,
#btn_elegir_nivel,
#btn_ayuda,
#btn_salir {
    width: 200px;
}

#seleccionar_nivel {
    margin: 100px;
}

#regresar {
    margin-bottom: 150px;
    margin: 0 44%
}

.carousel-item {
    position: static;
    margin-left: 20%;
}

h2{
    color: #42cbf5;
}